<hr style="margin-top: 60px;" />

<small style="font-style: italic;">
    <div>
        3615 Météo affiche les bulletins météorologiques marins côtiers de Météo France sous un format plus léger et lisible
    </div>
    <a href="/">3615 Météo</a>
    ·
    <a href="/api.html">API</a>
    ·
    <a href="https://github.com/adipasquale/3615meteo">Code Source sur GitHub ↗</a>
</small>

{% include "_style.html" %}