<div style="text-align: center;">
  <a href="/">
    <img src="/logo.png" alt="3615-Météo" id="logo" style="max-height: 60px;">
  </a>
  <style>
    @media (prefers-color-scheme: dark) {
      #logo { filter: invert(1); }
    }
  </style>
</div>
