<!DOCTYPE HTML>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>3615 Météo - {{ bulletin["titre"] }}</title>
</head>

<body>

{% include "_header.html.jinja" %}

<h1>{{ bulletin["titre"] }}</h1>

<p>{{ bulletin["chapeau"] }}</p>

<p>{{ bulletin["avis_special"] }}</p>

{% for echeance in bulletin["echeances"] %}
  <h2>{{ echeance["titre"] }}</h2>
  {% for region in echeance["regions"] %}
    <p>
      {{ region.get("situation", "") | linebreaks_to_br }}
      {% for observation in region["observations"] %}
        {{ observation["observation"] | linebreaks_to_br }}
      {% endfor %}
      {% if region.get("previsions") %}
        <p>💨 Vent: {{ region["previsions"]["vent"] }}</p>
        <p>🌊 Mer: {{ region["previsions"]["mer"] }}</p>
        <p>🏄‍♀️ Houle: {{ region["previsions"]["houle"] }}</p>
        <p>🌤 Temps: {{ region["previsions"]["temps"] }}</p>
        <p>😶‍🌫️ Visibilité: {{ region["previsions"]["visibilite"] }}</p>
      {% endif %}
    </p>
  {% endfor %}
{% endfor %}

<p style="margin-top: 2rem;">{{ bulletin["pied"] }}</p>

<p style="margin-top: 3rem">
  <a href="{{ bulletin['url_meteofrance'] }}">
    voir original sur MeteoFrance ↗
  </a>
</p>

<p style="margin-top: 1rem">
  <a href="/raw/{{ bulletin['code'] }}.xml">
    voir XML brut 💾
  </a>
</p>


</body>

{% include "_footer.html.jinja" %}

</html>
