<!DOCTYPE HTML>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>3615 Meteo - Bulletins côtiers</title>
</head>

<body>

{% include "_header.html.jinja" %}

<h2>Côte Atlantique</h2>

{% for bulletin_special in bulletins_speciaux_by_code_cote.get("01", []) %}
  {% include "_bulletin_special_warning.html.jinja" %}
{% endfor %}

<ul>
  {% for bulletin in bulletins_cotiers_by_code_cote["01"] %}
    <li><a href="bulletin-{{ bulletin["code"] }}.html">{{ bulletin["nom"] }}</a></li>
  {% endfor %}
</ul>

<h2>Côte Méditerranéenne</h2>

{% for bulletin_special in bulletins_speciaux_by_code_cote.get("02", []) %}
  {% include "_bulletin_special_warning.html.jinja" %}
{% endfor %}

<ul>
  {% for bulletin in bulletins_cotiers_by_code_cote["02"] %}
    <li><a href="bulletin-{{ bulletin["code"] }}.html">{{ bulletin["nom"] }}</a></li>
  {% endfor %}
</ul>

</body>

{% include "_footer.html.jinja" %}

</html>
